.video__list {
  width: 100%;
  height: auto;
}
.video__item {
  width: 100%;
  margin-top: 13vh;
  height: 87vh;
  display: flex;
  justify-content: center;
}
.video__item_wrapper {
  width: 35%;
  height: 100%;
  background: #fff;
}
.wrap {
  display: flex;
  align-items: center;
}



/*!!     VIDEO COMMENT MODAL   */
.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 1;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  position: relative;
  padding: 70px;
  border-radius: 15px;
  background-color: #fff;
  width: 100%;
  height: 130%;
  transform: scale(0.7);
  transition: 0.4s all;
}
.content__wrapper {
  width: 100%;
  height: 100%;

  display: flex;     
  justify-content: space-between;
}

.video__wrapper {
  width: 34%;
  height: 100%;
}
.video {
  width: 100%;
  border-radius: 35px;
}
.play {
  position: relative;
  width: 13%;
  top: -570px;
  left: 48%;
}




/*!   COMMENTS   */
.comments {
  width: 62%;
  height: 100%;
  background-color: #fff;
}
.video__info {
  width: 100%;
  height: 15%;
  border-bottom: 2px solid #969696;
  margin: 0 auto;
  display: flex;
}
.info__logo {
  width: 13%;
}
.logo {
  width: 100%;
}
.info__text {
  width: 70%;
  margin: 5px 0 0 20px
}
.acc__name {
  font-family: "Proxima-Nova_bold";
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.video__subtitle {
  font-family: "Proxima-Nova_regular";
  margin-bottom: 10px;
  font-size: 24px;
}
.hashtags {
  width: 90%;
}
.hashtag {
  font-family: "Proxima-Nova_bold";
  font-size: 25px;
  color: #0071F6;
  text-decoration: none;
}



/*!     COMMENT      */
.comments__wrapper {
  width: 100%;
  height: 75%;
  overflow-y: scroll;
}
.comments__wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
	background-color: #F5F5F5;
}
.comments__wrapper::-webkit-scrollbar
{
	width: 9px;
	background-color: #F5F5F5;
}
.comments__wrapper::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #929292;
}


.one__comment {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
}
.comment__logo_wrapper {
  width: 7%;
}
.comment__logo {
  width: 100%;
}

.comment__content {
  width: 70%;
  margin-left: 20px;
}
.comment__title {
  font-family: "Proxima-Nova_bold";
  font-size: 25px;
}
.comment__text {
  font-family: "Proxima-Nova_regular";
  font-size: 24px;
}


.add__comment {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  border-top: 2px solid #696969;
}
.add__emoji {
  position: relative;
  top: -160px;
  left: -520px;
  width: 0%;
}
.emoji__icon {
  width: 7%;
  margin-left: 10px;
}

.comment__input {
  width: 65%;
  height: 70%;
  margin-left: 30px;
}
.input {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  border-radius: 15px;
  padding-left: 30px;
  border: 2px solid #757575; 
  font-family: Proxima-Nova_regular;
  font-size: 25px;
}
.input::placeholder {
  font-size: 25px;
}




/*! Adaptive */
@media all and (max-width: 2000px) {
  /*.wrap {
    height: 70%;
  }*/
}
@media all and (max-width: 1900px) {
  .wrap {
    height: 80%;
  }
}
@media all and (max-width: 1100px) {
  .wrap {
    height: 75%;
  }
  .video__item {
    height: 90vh;
  }
}
@media all and (max-width: 800px) {
  .wrap {
    height: 65%;
  }
}