@font-face {
  font-family: "Proxima-Nova_bold";
  src: url("../../../fonts/ProximaNova/proximanova_bold.otf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Proxima-Nova_regular";
  src: url("../../../fonts/ProximaNova/proximanova_regular.ttf") format("truetype");
  font-style: normal;
}

.content {
  display: flex;
}


.video__item {
  width: 100%;
  /*margin-right: 20px;*/
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video__wrapper {
  width: 364px;
  margin-right: 45px;
  height: 649px;
}
.video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 0 0 0;
}
.play {
  position: absolute;
  left: 48%;
  top: 60%;
}

.navigation{
  position: relative;
  bottom: 40px;
  width: 90%;
  margin: 0 auto;
  .navigation_wrapper
  {
      min-width: 100%;
      background-color: rgba(119, 119, 119, 0.781);
      height: 5px;
      border-radius: 30px;
      cursor: pointer;
      .seek_bar{
          width: 0;
          height: 100%;
          background-color: rgb(255, 255, 255);
          border-radius: 30px;
      }
  }
}


/*! INFO */

.info__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__block {
  width: 28%;
  margin-right: 90px;
  display: flex;
}

.info__logo {
  width: 16%;
}
.logo {
  width: 100%;
}
.subscribe {
  position: relative;
  bottom: 20px;
  left: 29%;
}

.info__text {
  margin: 5px 0 0 20px
}
.acc__name {
  font-family: "Proxima-Nova_bold";
  font-size: 25px;
  margin-bottom: 5px;
}
.video__subtitle {
  font-family: "Proxima-Nova_regular";
  margin-bottom: 3px;
  font-size: 20px;
}

.hashtags {
  width: 90%;
}
.hashtag {
  font-family: "Proxima-Nova_bold";
  font-size: 20px;
  color: #0071F6;
  text-decoration: none;
}

.btns__wrapper {
  position: absolute;
  width: 3%;
  left: 60%;
  top: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn__wrapper {
  width: 80%;
  cursor: pointer;
}
.like {
  width: 100%;
  margin-bottom: 40px;
}
.comment {
  width: 100%;
  margin-bottom: 40px;
}
.favorite {
  width: 75%;
  margin-left: 6px;
  margin-bottom: 33px;
}
.repost {
  width: 90%;
  margin-left: 3px;
  margin-bottom: 30px;
}
.share {
  width: 90%;
  margin-left: 4px;
}



/* ! Create */

@font-face {
  font-family: "Proxima-Nova_extra-bold";
  src: url("../../../fonts/ProximaNova/proximanova_extrabold.otf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Proxima-Nova_bold";
  src: url("../../../fonts/ProximaNova/proximanova_bold.otf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Proxima-Nova_regular";
  src: url("../../../fonts/ProximaNova/proximanova_regular.ttf") format("truetype");
  font-style: normal;
}

.createVideo{
  width: 100%;
}



.navbar {
  width: 100%;
  height: 100px;
  border-bottom: 3px solid #969696;
}
.create_container {
  width: 95%;
  margin: 0 auto;
}
.nav__wrapper {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav__name {
  font-family: "Proxima-Nova_extra-bold";
  font-size: 50px;
  color: #000000;
}

.logo__wrapper{
  width:15%;
}

.profile__wrapper {
  width: 5%;
  cursor: pointer;
}
.profile__logo {
  width: 100%;
}

.create_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10%;
}

.video_content{
  width: 364px;
  margin-right: 45px;
  height: 649px;
  background-color: #d5d5d5;
  position: relative;
  border-radius: 10px;
}

.add_icon{
  position: absolute;
  left: 40%;
  top: 45%;
  width: 20%;
  cursor: pointer;
}

.video_inputs{
  width: 65%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.video_inputs > h2{
  font-family: "Proxima-Nova_extra-bold";
  font-size: 50px;
}

.video_inputs input{
  width: 100%;
  height: 50px;
  padding-left: 5%;
  font-size: 20px;
  border: 2px solid black;
}


.create_btns{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.create_btns__clear{
  width: 40%;
  height: 40px;
  color: white;
  background-color: #343333;
  border: 2px solid #757575;
  border-radius: 10px;
  cursor: pointer;
}

.create_btns__post{
  width: 40%;
  height: 40px;
  color: white;
  background-color: #FF002E;
  border: 2px solid #757575;
  border-radius: 10px;
  cursor: pointer;
}



/* ! adaptive */

@media all and (max-width: 1000px){
  .profile__wrapper {
    width: 7%;
  }
}


@media all and (max-width: 800px){
  .video_inputs{
    height: 400px;
  }
  
  .video_content{
    width: 364px;
    height: 500px;
  }
  .create_content{
    margin: 50px 10%;
  }
  .video_inputs > h2{
    font-size: 42px;
  }
  .logo__wrapper{
    width: 20%;
  }

}


@media all and (max-width: 700px){
  .video_inputs > h2{
    font-size: 33px;
  }

  .video_inputs input{
    height: 40px;
  }
  .create_btns__clear{
    height: 30px;

  }
  
  .create_btns__post{
    height: 30px;
  }

  .logo__wrapper{
    width: 25%;
  }
  .profile__wrapper {
    width: 9%;
  }
}


@media all and (max-width: 600px){
  .create_content{
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .create_content > *{
    margin: 20px 0 ;
  }

  .video_inputs{
    height: 300px;
  }

  .video_inputs input{
    height: 30px;
  }
  .create_btns__clear{
    height: 25px;

  }
  
  .create_btns__post{
    height: 25px;
  }

  .logo__wrapper{
    width: 30%;
  }

}


@media all and (max-width: 450px){
  .video_content{
    width: 264px;
    height: 400px;
  }
}

@media all and (max-width: 400px){
  .video_content{
    width: 264px;
    height: 400px;
  }

  .video_inputs > h2{
    font-size: 27px;
  }
}