@font-face {
    font-family: "Proxima-Nova_bold";
    src: url("../../../fonts/ProximaNova/proximanova_bold.otf") format("truetype");
    font-style: normal;
}

* {
    font-family: 'Proxima-Nova_bold';
}

.profile_left_txt {
    font-size: 25px;
    margin-right: 20px;
}

.subcribe__block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 100px;
    margin-top: 15px;
}

.profile__left_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 24%;
    padding-top: 20px;
}

.profile__platform {
    width: 100%;
    height: 100%;
    display: flex;
}

.subcribe__name {
    margin-right: 20px;
}

.profile__right_content {
    width: 60%;
}

.profile_content {
    display: flex;
    width: 100%;
}

.profile_left__content {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.editprofil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editprofil h2 {
    font-size: 39px;
}

.editprofil button {
    width: 160px;
    height: 38px;
    font-size: 20px;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 5px;
}

.profil_logo {
    height: 180px;
}

.fol_lik_flow {
    display: flex;
}

.fol_lik_flow h3 {
    font-family: small;
    margin-right: 20px;
}

.profil_container {
    display: flex;
    flex-direction: column;
}
.nav-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
}
.nav-links{
    margin-right: 20px;
}
.navlink{
    margin-right: 20px;
}
@media  (max-width:1220px){
    .profile_left_txt{
        margin-left: 10px;
    }
    .profile_left_txt{
    }
}
