*{
    margin: 0;
    padding: 0;
}

.form{
    width: 100%;
    height: 100vh;
}

.registerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 10%;
}

.registerTop > h2{
    font-size: 30px;
}

.info_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.info_form input{
    width: 50%;
    height: 30px;
}

.info_form > *{
    margin: 10px;
}


.singBtns button {
    position: relative;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    color: black;
    cursor: pointer;
    overflow: hidden;
  }
  
  .singBtns button::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #e74c3c;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
  }
  
  .singBtns button:hover::before,
  .singBtns button:active::before {
    width: 100%;
  }
  
  .singBtns button:active::before {
    transition: none;
  }
  

  .registerBtn{
    width: 50%;
    height: 40px;
    background-color: #FF002E;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
  }

  .registerBtn:hover{
    background-color: #c70025;
  }