@font-face {
  font-family: "Proxima-Nova_bold";
  src: url("../../../fonts/ProximaNova/proximanova_bold.otf") format("truetype");
  font-style: normal;
}
  
.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  height: auto;
  background-color: #fff;
  border-bottom: 2px solid #969696;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.nav__wrapper {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo__wrapper {
  width: 15%;
}
.logo {
  width: 80%;
}
.menu {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}
.home__wrapper {
  width: 30%;
  margin-right: 30px;
}
.profile__wrapper {
  width: 40%;
}
.profile__logo {
  width: 100%;
}


.create_content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 13vh;
    height: 86vh;
}
.video_content{
    width: 25%;
    height: 75vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
}
.video_inputs{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: -60px;
}
.create_vid{
    font-size: 75px;
    font-family: 'Proxima-Nova_bold';
}
.create-inputs{
    height: 6vh;
    width: 90%;
    padding-left: 30px;
    font-size: 30px;
    border: 1.5px solid black;
}
.video__platform{
    width: 60%;
    height: 69vh;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.create_btn{
    display: flex;
    width: 70%;
    height: 20vh;
    justify-content: space-around;
}
.create_btn button{
    border: none;
    width: 47%;
    height:45px ;
    border-radius: 7px;
    color: #fff;
    font-family: 'Proxima-Nova_bold';
    font-size: 25px;
}
.create_btns__post{
    background-color: #FF002E;
}
.create_btns__clear{
    background-color: #343333;
}


.input__wrapper {
  width: 20%;
  height: 84.4%;
  border: 2px solid #696969;
}
.video {
  position: relative;
  width: 100%;
  height: 100%;
}
.input__text {
  position: relative;
  top: 48%;
  left: 26%;
  font-family: 'Proxima-Nova_bold';
  font-size: 25px;
}
.video__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border: 2px solid #696969;
}

@media all and (max-width:1070px){
    .logo{
        display: block;
    }
    .create_vid{
        font-size: 50px;
    }
}
@media all and (max-width:980px){
    .logo{
        display: block;
    }
    .create_vid{
        font-size: 50px;
    }
    .video_content{
        height: 75svh;
        width: 36%;
    }
    .video__platform{
        width: 50%;
    }
}
@media all and (max-width:830px){
    .video_content{
        height: 75vh;
        width: 35%;
    }
}
@media all and (max-width:670px){
    .video_content{
        height: 70vh;
        width: 35%;
    }
    .logo{
        width: 130px;
    }
    .profile__logo{
        height: 50px;
    }
    .video__platform{
        width: 55%;
    }
}
@media all and (max-width:600px){
    .create_content{
        flex-direction: column;
    }
    .video__platform{
        width: 90%;
    }
    .video_content{
        height: 130vh;
        width: 50%;
        position: relative;
        top: 100px;
    }
    .create_vid{
        position: relative;
        top: -330px;
        margin-left: 67px;
    }
    .profile__logo{
        display: block;
    }
    .video_inputs{
        position: relative;
        top:170px;
    }
    .create_btn{
        position: relative;
        top: 230px;
    }
}