@font-face {
    font-family: "Proxima-Nova_bold";
    src: url("../../../fonts/ProximaNova/proximanova_bold.otf") format("truetype");
    font-style: normal;
}

.search__right_content{
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Proxima-Nova_bold';
    text-decoration: none;
    margin-top: 20px;
}
.search_navbar{
    display: flex;
    align-items: center;
    height: 13vh;
    justify-content: space-between;
}
.profile__logo{
    margin-right: 10px;
}
.search__input{
    width: 450px;
    height: 40px;
    border: none;
    background-color: #F0EFEF;
    padding: 10px;
    border-radius: 6px;
    font-size: large;
}

.logo__wrapper{
    margin-left: 10px;
}
.search__card{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 40px;
}
.name_search_card{
    font-size: 25px;
}
.profil__search_card{
    display: flex;
    align-items: center;
}
.search__card_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_card_views{
    display: flex;
    align-items: center;
}
.search_video_platform{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navlink{
    text-decoration: none;
}
.search__acount_platform{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.acount{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    margin-top: 30px;
}
.acount__left-content{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-around;
    font-family: 'Proxima-Nova_bold';
}
.search__hashtags_platform{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.video__wallpaper{
    width: 100%;
}
.hashtags{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
}
.hashtags__left-content{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-around;
    font-family: 'Proxima-Nova_bold';
}
.hashtags__left-content img{
    border-radius: 50%;
    height: 40px;
    background-color: rgb(234, 234, 234);
};
.logo{
    display: block;
}
@media all and (max-width:1070px){
    .logo{
        display: none;
    }
}
@media all and (max-width:620px){
    .search__right_content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .name_search_card{
        font-size: 20px;
    }
}
@media all and (max-width:590px){
    .search__card{
        width: 40%;
    }
    .name_search_card{
        font-size: 20px;
    }
    .profile__logo{
        display: none;
    }
    .navlink{
        font-size: 20px;
    }
    .search_video_platform{
        padding: 20px;
    }
    .profil-logo{
        width: 30px;
    }
    .wievs{
        font-size: 12px;
    }
}
@media all and (max-width:450px){
    .search__card{
        width: 40%;
    }
    .name_search_card{
        font-size: 18px;
    }
    .search_video_platform{
        padding: 3px;
    }
    .search__input{
        width: 300px;
    }
    .acount h2{
        font-size: 20px;
    }
    .acount img{
        width: 50px;
        justify-content: space-between;
    }
    .acount h3{
        margin-right: -40px;
    }

}
@media all and (max-width:420px){
    .name_search_card{
        font-size: 15px;
    }
    .search_video_platform{
        padding: 10px;
        padding-left: 30px;
    }
    .search__input{
        width: 300px;
    }
    .hashtags__left-content img{
        height: 30px;
        background-color: #fff;
    }
    .hashtags__left-content h2{
        font-size: 20px;
    }
}
@media all and (max-width:390px){
    .search__card{
        width: 40%;
    }
    .search_video_platform{
        padding: 5px;
    }
    .name_search_card{
        font-size: 15px;
    }
}