* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*body {
  height: 100vh;
}*/

a {
  color: #696969;
}
.active {
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
  border-bottom: 5px solid #000;
  transition: 0.3s;
}

@media all and (max-width: 650px) {
  .active{
    border-bottom: 3px solid #000;
  }
}
